@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --preto-principal: #000000;
    --cor-cabecalho: #000000;
    --font-size-botao: 16px;
    --font-family: 'Inter', sans-serif;
    --color-botao-hover: #0000FF;
    --cor-borda: rgb(112, 110, 110);
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--branco-principal);
    font-family: var(--font-family);
}

header {
  background-color: var(--cor-cabecalho);
  color: var(--branco-principal);
  padding: 1rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__img {
  width: 80px;
}

nav a {
  color: var(--branco-principal);
  text-decoration: none;
  font-weight: 600;
  margin-right: 2rem;
}

nav a:hover {
  color: var(--color-botao-hover);
}

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   /* permite que os cards quebrem linha */
    font-family: var(--font-family);
    gap: 20px;
    margin: 4rem 0 0 0;
}

.card {
    background-color: var(--branco-principal);
    width: 100%;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    flex: 1 1 200px;   /* cresce e encolhe, base 180px */
    max-width: 300px;
    box-sizing: border-box;
    min-height: 350px;
}

.card img {
    width: 200px;
    height: 200px; 
    margin-top: 20px;
}

.card h1 {
    font-size: 1.6rem;
    font-weight: 350;
}

.card h2 {
    margin-top: -1rem;
    font-size: .9rem;
    color: #aaaa;
}

.card span {
  font-size: 1.3rem;
}

.imagem__favorito {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem__favorito i {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.imagem__favorito i:hover {
  color: gray;       
  transform: scale(1.2); 
}