@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCDCDC;
    max-width: 100%;
    margin: auto;
    padding: 0;

}

header {
    background-color: #DCDCDC;
    margin: auto;
}

header img {
    width: 150px;
}

.carrosel {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 10px 0px 10px;
}

.carrosel img {
    width: 1250px;
}


.promocoes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.promocoes img {
    width: 350px;
    height: 320px;
}

