@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCDCDC;
    margin: 0;
}

header {
    background-color: #B0B0B0;
    text-align: center; /* Centraliza o logotipo */
}

header img {
    width: 150px;
}

.carrosel {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carrosel img {
    width: 100%; /* Ajusta a largura para 100% do contêiner */
    max-width: 1250px; /* Limita a largura máxima */
    height: auto; /* Mantém a proporção da imagem */
}

.promocoes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.promocoes img {
    width: 350px;
    height: auto; /* Mantém a proporção da imagem */
}

.image-container {
    display: none;
}

.image-container.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 20px; /* Ajusta a posição do botão à esquerda */
}

.next {
    right: 20px; /* Ajusta a posição do botão à direita */
}

button:focus {
    outline: 2px solid #fff; /* Adiciona um contorno ao botão quando focado */
}