@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kanit:wght@500&display=swap');

:root {
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #868686;
  --azul-hover: #0000ff;
  --fonte-principal: 'Inter', sans-serif;
  --cor-linha: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  background-color: var(--branco);
  text-align: center;
}

header {
  background-color: var(--preto);
  color: var(--branco);
  padding: 1rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__img {
  width: 80px;
}

nav a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 600;
  margin-right: 2rem;
}

nav a:hover {
  color: var(--azul-hover);
}

.container {
  font-family: var(--font-family);
  margin-left: auto;
  margin-right: auto;
    
}


.botao__categorias {
  padding: 1rem;
  border-bottom: 1px solid var(--cor-linha);
  
}

.botao__categorias a{
    font-size: var(--font-size-botao);
    color: var(--cor-texto);
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.botao__categorias a:hover {
    color: var(--azul-hover);
}




.filter-btn.active {
    background-color: #3b82f6;
    color: white;
}






.main-container {
  max-width: 1600px;
  
  
  
}



.flex-container {
    display: flex;
    gap: 7rem;
}

#filter-aside {
    height: 290px;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 11.5rem;
}

#filter-aside h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#gender-filter {
    margin-bottom: 1.5rem;
}

#gender-filter h3 {
    font-weight: 500;
    margin-bottom: 0.75rem;
}

#gender-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #f0f0f0;
}

#products-section {
    width: 100%;
    max-width: 90%;
}

#products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#products-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

#products-container {
    display: grid;
    gap: 1.5rem;
}





@media (min-width: 1024px) {
    #products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}