@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --preto-principal: #000000;
    --cor-cabecalho: #000000;
    --cor-texto: #000;
    --cor-linha: #000000;
    --font-size-botao: 16px;
    --font-family: 'Inter', sans-serif;
    --color-botao-hover: #0000FF;
    --cinza-claro: #979797;
    --azul-claro: #4c96f5;
    --cor-acima: #080808;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--branco-principal);
}

header {
        background-color: var(--cor-cabecalho);
}
 
.barra-inicial{
    background-color: var(--branco-principal);
    text-align: right;
    padding: 0.7%; 
    font-size: 13px;
    font-family: var(--font-family);
    padding-right: 5rem;
}
 
nav a{
    color: var(--preto-principal);
    padding: 0.5rem;
    text-decoration: none;
}
 
nav a:hover {
    color: var(--cinza-claro);
}
 
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-family: var(--font-family);
}
 
.logo {
    margin: 0 1rem;
}
 
.logo__img {
    width: 100px;
}
 
.botao__categorias {
    display: block;
    align-items: center;
}
 
.botao__categorias a{
    font-size: var(--font-size-botao);
    color: var(--branco-principal);
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}
 
.botao__categorias a:hover {
    color: var(--color-botao-hover);
}
 
.botao__pesquisa {
    max-width: 200px;
    width: 100%;
    height: 30px;
    border-radius: 12px;
    border: none;
    padding: 0 1rem;
}
 
.container-direita{
    display: flex;
    align-items: center;
    gap: 15px;
}
 
.container-direita i{
    font-size: 1.5rem;
    color: var(--branco-principal);
    cursor: pointer;
}
 
.container-direita i:hover{
    color: var(--color-botao-hover);
}







.filter-btn.active {
    background-color: #3b82f6;
    color: white;
}






.main-container {
  max-width: 1600px;
  
  
  
}



.flex-container {
    display: flex;
    gap: 7rem;
}

#filter-aside {
    height: 290px;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 11.5rem;
}

#filter-aside h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#gender-filter {
    margin-bottom: 1.5rem;
}

#gender-filter h3 {
    font-weight: 500;
    margin-bottom: 0.75rem;
}

#gender-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #f0f0f0;
}

#products-section {
    width: 100%;
    max-width: 90%;
}

#products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#products-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

#products-container {
    display: grid;
    gap: 1.5rem;
}





@media (min-width: 1024px) {
    #products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}